<% products.forEach(producto => { %>
<a href="/products/<%= producto.id %> " style=text-decoration:none class="product-card">          
    <form class="add-cart-form" action="/products" method="post">
        <button class="button-add-cart" type="submit"><i class="fa-sharp fa-solid fa-cart-plus icon-add-cart"></i></button>
    </form>
    <img src="/images/productDetail/<%= producto.product_photo  %>" alt="Producto 1">
    <div class="product-text">
        <h3 class="product-name"><%= producto.name %></h3>
        <p class="product-description"><%= producto.description  %> </p>
        <p class="product-price">$<%= producto.price  %> </p>
    </div>
</a>
<% }) %>