<% if (detalles.length) {%> 
<section class="section-cart">
    <h2 class="cart-title">Carrito</h2>
    <div class="cart-box cart-box-products">
    <div class="carrito-productos">
        <% let total = 0; %> 
        <% for (let i = 0; i < detalles.length; i++) {%> 
            <% subtotal = (parseFloat(detalles[i].amount) * parseFloat(detalles[i].product.price)) %> 
            <% total = total + parseFloat(subtotal) %> 
            <div class="card-cart">
                <figure>
                    <img src="/images/productDetail/<%= detalles[i].product.product_photo %>" alt="Foto">
                </figure>
                <div class="cart-detail">
                    <p class="cart-product-name"> <%= detalles[i].product.name %> </p>
                    <div class="addRemove-group">
                        <form action="/cart/<%= detalles[i].id %>/removeOne?_method=PUT" method="POST">
                            <button class="addRemove-btn" type="submit">-</button>
                        </form>
                        <form action="">
                            <input type="text" class="cart-amount" name="amount" id="amount" value="<%= detalles[i].amount %>">
                        </form>
                        <form action="/cart/<%= detalles[i].id %>/addOne?_method=PUT" method="POST">
                            <button class="addRemove-btn" type="submit">+</button>
                        </form>
                    </div>
                    <p class="cart-price">$<%= subtotal.toFixed(2) %></p>
                    <div class="cart-buttons-group">
                        <form action="/cart/<%= detalles[i].id %>/delete?_method=DELETE" method="POST">
                            <button type="submit" class="cart-delete-btn">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
    </div>
    <div class="continue-group">
        <div class="cart-total-group">
            <h3>Total:</h3>
            <h3>$<%= parseFloat(total, 10).toFixed(2) %></h3>
        </div>
        <form class="cart-submit-form" action="/cart/confirm">
            <button class="cart-submit-btn" type="submit">Continuar</button>
        </form>
    </div>
</section>  
<% } %> 