<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="contenedor-logo" href="/"><img class="alcer-logo d-inline-block align-text-top" src="\images\brand\logo-borde.png" alt="Alcer supermercado" /></a>
    <div class="search-container">
        <form class="container search-bar" action="/products/search/" method="get">
            <input name="producto" id="producto"
            type="text" placeholder="Encontrá lo que estás buscando" />
            <button class="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
         </form>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
            <% if (locals.loggedUser) { %>
                <% let nombre = locals.loggedUser.name %>
                <% let mensaje = 'Bienvenido' %>
                <li class="nav-item dropdown d-flex">
                    <div class="pp-container">
                        <img src="/images/profile/<%= locals.loggedUser.profil_photo%> " alt="Foto">
                    </div>
                    <div class="d-flex flex-column">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <%= mensaje.concat(' ', nombre) %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item d-flex" href="/logout">Cerrar sesión</a></li>
                        </ul>

                    </div>
                </li>
                <li class="nav-item">
                    
                        <a class="d-flex justify-content-center" href="/cart">
                            <i class="topbar-icon font-light-blue fa-solid fa-cart-shopping"></i>
                        </a>
                        <a class="nav-link icon-topbar-text" href="/cart">Carrito</a>
                    
                </li>
            <% if (locals.loggedUser.category == 'adminUser') {%> 
                <li class="nav-item">
                    
                    <a class="d-flex justify-content-center" href="/products/create">
                        <i class="topbar-icon font-light-blue fa-solid fa-circle-plus"></i>
                    </a>
                    <a class="nav-link icon-topbar-text-add" href="/products/create">Cargar Producto</a>
                
                </li>
                <li class="nav-item">
                    
                        <a class="d-flex justify-content-center" href="/users">
                            <i class="topbar-icon font-light-blue fa-solid fa-users"></i>
                        </a>
                        <a class="nav-link icon-topbar-text" href="/users">Usuarios</a>
                    
                </li>
                <li class="nav-item">
                    <a class="d-flex justify-content-center" href="">
                        <i class="topbar-icon font-light-blue fa-solid fa-clipboard-list"></i>
                    </a>
                    <a class="nav-link icon-topbar-text" href="">Ordenes</a>
                </li>
            <% } %> 
            <% } else { %>
                <li class="nav-item">
                    
                        <a class="d-flex justify-content-center" href="/cart">
                            <i class="topbar-icon font-light-blue fa-solid fa-cart-shopping"></i>
                        </a>
                        <a class="nav-link icon-topbar-text" href="/cart">Carrito</a>
                    
                </li>
                <li class="nav-item">
                    
                        <a class="d-flex justify-content-center" href="/login">
                            <i class="topbar-icon font-light-blue fa-solid fa-user"></i>
                        </a>
                        <a class="nav-link icon-topbar-text" href="/login">Ingresar</a>
                    
                </li>
            <% } %>
        </ul>
    </div>
  </div>
</nav>
<% if( locals.categories){ %> 
    <ul class="categories-bar">
    <% categories.forEach(category => { %>
        <a href="/products/category/<%=category%>" class="category-list"><%= category %></a>
    <% }) %>
    </div>
<% } %> 
<% if(locals.lastAdded) {%>
    <%- include('./lastAddedPop') %>
<% } %> 