<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%- include("partials/head")  %> 
    <title>Productos</title>
  </head>
  <body>
    <header>
      <%- include("partials/topBar")  %> 
    </header>
    <main>
      <section class="box">
        <h1>Editar producto: <%= product.name %> </h1>

        <form action="/products/edit/<%= product.id %>?_method=PUT" method="post" class="form">
            
            <input class="input-style <%= locals.errors && errors.name ? "danger" : null %>"
            type="text" name="name" id="name" placeholder="Nombre del Producto"
            value= "<%= locals.oldData ? oldData.name : product.name %>">
        <% if (locals.errors && errors.name) { %>
            <div class="danger-text">
            <p><%= errors.name.msg %></p>
            </div> 
        <% } %>

            <input style="-moz-appearance: textfield;-webkit-outer-spin-button: none; -webkit-inner-spin-button: none"
             class="input-style <%= locals.errors && errors.price ? "danger" : null %>" type="number" name="price" id="price" placeholder="Precio"
             value= <%= locals.oldData ? oldData.price : product.price %>>
            <% if (locals.errors && errors.price) { %>
                <div class="danger-text">
                <p><%= errors.price.msg %></p>
                </div> 
            <% } %>

            <select class="input-style" name="category" id="category">
                <option value="" disabled selected>Elegí una Categoría</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Golosinas">Golosinas</option>
                <option value="Limpieza">Limpieza</option>
                <option value="Lacteos">Lacteos</option>
                <option value="Carnicería">Carnicería</option>
            </select>
            <% if (locals.errors && errors.category) { %>
                <div class="danger-text">
                <p><%= errors.category.msg %></p>
                </div> 
            <% } %>
            
            <% if (product.preciosCuidados) { %> 
            <div style="margin:10px; padding:10px;">
            <label for="preciosCuidados">Este producto se encuentra en Precios Cuidados</label>
            <input type="checkbox" name="preciosCuidados" id="preciosCuidados" checked>
            </div>
            <% }else{ %> 

            <div style="margin:10px; padding:10px;">
              <label for="preciosCuidados">Este producto se encuentra en Precios Cuidados</label>
              <input type="checkbox" name="preciosCuidados" id="preciosCuidados">
              </div>
            <% } %> 
            <textarea class="input-style <%= locals.errors && errors.description ? "danger" : null %>" type="text" name="description" id="description" placeholder="Descripción"cols="30" rows="10"
                ><%= locals.oldData ? oldData.description : product.description %></textarea>
            <% if (locals.errors && errors.description) { %>
                <div class="danger-text">
                <p><%= errors.description.msg %></p>
                </div> 
            <% } %>
        </div>
        <div>
        <button 
        type="submit">Guardar Producto</button>
        
    </div></form>
    <a href="/products/"><button class="button edit-button">Volver</button></a>
      </section>  
    </main>
    <%- include("partials/footer")  %> 
  </body>
</html>