<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/theme-users.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <%- include("partials/head") %>
    <title>Lista de órdenes</title>
  </head>
  <body>
    <%- include("partials/topBar") %>
    <main class="bg-lightgrey p-8 w-90 m-center mt-15 mb-15 order-main">
      <h1>Listado de órdenes a retirar</h1>
      <section class="order-sections" id="ordenesenPreparacionSection">
        <h2>Órdenes en preparación</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Listo</th>
              <th scope="col">Detalle</th>
              <th scope="col">Id</th>
              <th scope="col">Estado</th>
              <th scope="col">Met. envío</th>
              <th scope="col">Met. pago</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i=0; i < ordenesEnProceso.length; i++ ) { %>
            <tr class="OrdersTr" id="enPreparacionTr<%= ordenesEnProceso[i].id %>" draggable="true">
              <td>
                <form action="/orders/<%= ordenesEnProceso[i].id %>/listo?_method=PUT" method="POST" id="ordenEnPrepForm">
                  <button class="btn-order bnt-order-ok" type="submit"><i class="fa-solid fa-check"></i></button>
                </form>
              </td>
              <td>
                <form action="/orders/detail/<%= ordenesEnProceso[i].id %>/" method="GET">
                  <button class="btn-order btn-order-warning" type="submit"><i class="fa-solid fa-info"></i></button>
                </form>
              </td>
              <td><%= ordenesEnProceso[i].id %></td>
              <td><%= ordenesEnProceso[i].order_status %></td>
              <td><%= ordenesEnProceso[i].delivery_method %></td>
              <td><%= ordenesEnProceso[i].payment_method %></td>
              <td><%= ordenesEnProceso[i].order_date %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>
      <section  class="order-sections" id="ordenesListasSection">
        <h2>Órdenes listas</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Retirado</th>
              <th scope="col">Vuelta atrás</th>
              <th scope="col">Id</th>
              <th scope="col">Estado</th>
              <th scope="col">Met. envío</th>
              <th scope="col">Met. pago</th>
              <th scope="col">Actualización</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i=0; i < ordenesListas.length; i++ ) { %>
            <tr class="OrdersTr" draggable="true">
              <td>
                <form  action="/orders/<%= ordenesListas[i].id %>/retirado?_method=PUT" method="POST" id="ordenListaFormCheck">
                  <button class="btn-order bnt-order-ok" type="submit"><i class="fa-solid fa-check"></i></button>
                </form>
              </td>
              <td>
                <form action="/orders/<%= ordenesListas[i].id %>/vueltaAtras?_method=PUT" method="POST" id="ordenListaForm">
                  <button class="btn-order btn-order-danger" type="submit"><i class="fa-solid fa-arrow-left"></i></button>
                </form>
              </td>
              <td><%= ordenesListas[i].id %></td>
              <td><%= ordenesListas[i].order_status %></td>
              <td><%= ordenesListas[i].delivery_method %></td>
              <td><%= ordenesListas[i].payment_method %></td>
              <td><%= ordenesListas[i].updatedAt %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>
      <section  class="order-sections" id="ordenesRetiradasSection">
        <h2>Órdenes retiradas</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Borrar</th>
              <th scope="col">Vuelta atrás</th>
              <th scope="col">Id</th>
              <th scope="col">Estado</th>
              <th scope="col">Met. envío</th>
              <th scope="col">Met. pago</th>
              <th scope="col">Actualización</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i=0; i < ordenesRetiradas.length; i++ ) { %>
            <tr class="OrdersTr" draggable="true">
              <td>
                <form action="/orders/<%= ordenesRetiradas[i].id %>/delete?_method=DELETE" method="POST">
                  <button class="btn-order btn-order-danger" type="submit"><i class="fa-solid fa-trash"></i></button>
                </form>
              </td>
              <td>
                <form action="/orders/<%= ordenesRetiradas[i].id %>/vueltaAListas?_method=PUT" method="POST" id="ordenRetiradaForm">
                  <button class="btn-order btn-order-danger" type="submit"><i class="fa-solid fa-arrow-left"></i></button>
                </form>
              </td>
              <td><%= ordenesRetiradas[i].id %></td>
              <td><%= ordenesRetiradas[i].order_status %></td>
              <td><%= ordenesRetiradas[i].delivery_method %></td>
              <td><%= ordenesRetiradas[i].payment_method %></td>
              <td><%= ordenesRetiradas[i].updatedAt %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="/js/ordersTakeAway.js"></script>
  </body>
</html>