<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%- include("partials/head")  %> 
    <title>Alcer</title>
</head>
<body>
    <header>
        <%- include("partials/topBar")  %> 
    </header>
    <main class="main-page">
        <% if(locals.lastAdded) {%>
            <%- include('partials/lastAddedPop') %>
        <% } %>   
        <section class="section-products"> 
            <h2 class="title-all-products"><%= locals.title %>:</h2>
            <div class="products">              
                <%- include("partials/productCard")  %> 
            </div>
        </section>
        <%- include("partials/sideBarCart")  %>  
    </main>
    <%- include("partials/footer")  %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>