<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%- include("partials/head")  %> 
    <title>Productos</title>
  </head>
  <body>
    <header>
      <%- include("partials/topBar")  %> 
    </header>
    <main>

      <section class="box">
        <h1><%= product.name %></h1>
        <div class="description">
      <div class="p-detail-image">
      <img class="detail-image" src="/images/productDetail/<%= product.product_photo  %>" alt="<%=product.name%>">
      </div>
      <div class="details">
      <article>
        <div><%= product.description %> </div>
        <div class="price">$<%= product.price  %> </div>
      </article>
      
        <a href="/products"><button type="submit" class="button button-submit">Agregar al Carrito</button></a>
    
      <form action="/products/edit/<%= product.id %> " method="get">
        <button type="submit" class="button edit-button">Editar</button>
      </form>

      <form action="/products/delete/<%=product.id%>?_method=DELETE" method="post">
        <button type="submit" class="delete-button button">Eliminar</button>
        <label for="sure">Quiero eliminar este producto</label>
      <input type="checkbox" name="sure" id="sure">

      </form>

      </div></div>
      </section>  
    </main>
    <%- include("partials/footer")  %> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
