<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/theme-form.css" /> <!--conecta el archivo theme.form.css con el home-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%- include("partials/head") %>
    <title>Registro</title>
</head>
<body>
    <%- include("partials/topBar") %>
    <main class="bg-lightgrey p-8 w-90 m-center mt-15 mb-15">
        <section class="form-box">
        <h1>Datos de la cuenta</h1>
        <form action="/register" class="form" method="POST" enctype="multipart/form-data" id="register-form">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            <% if (locals && locals.errors) { %>
                <div class="alert alert-danger" role="alert">
                    <% for ( let error in errors ) { %>
                        <div>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <%= errors[error].msg %>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <div class="input-icon-container input-style" id="emailField">
                <i class="fa-solid fa-envelope"></i>
                <input class="input-with-icon" type="text" name="email" id="email" placeholder="E-mail"
                value="<%= locals.oldData && oldData.email ? oldData.email : ''%>"> <!--Trae los datos que había ingresado el usuario-->
            </div>
            <div class="input-icon-container  input-style" id="passwordField">
                <i class="fa-solid fa-lock"></i>
                <input class="input-with-icon" type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="input-icon-container  input-style" id="rePasswordField">
                <i class="fa-solid fa-lock"></i>
                    <input class="input-with-icon" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar contraseña">
            </div>

            <h3 class="subtitle">Datos personales</h3>
            <input class="input-style input-whithout-logo" type="text" name="name" id="name" placeholder="Nombre"
                value="<%= locals.oldData && oldData.name ? oldData.name : ''%>">
            <input class="input-style input-whithout-logo" type="text" name="last_name" id="last_name" placeholder="Apellido"
                value="<%= locals.oldData && oldData.last_name ? oldData.last_name: ''%>">
            
            <div style="margin:10px; padding:10px;">
            <label for="birth_date input-style">Fecha de nacimiento:</label>
            <input class="input-style" type="date" name="birth_date" id="birth_date"
                    value="<%= locals.oldData && oldData.birth_date ? oldData.birth_date: ''%>">
            </div>

            <div style="margin:10px; padding:10px;">
            <label for="profil_photo">Seleccione una foto de perfil:</label>
            <input type="file" name="profil_photo" id="profil_photo">
            </div>

            <div id="formButtons">
                <button class="button-submit" type="submit">Registrarme</button>
                <button class="button" type="reset">Borrar Todo</button>
            </div>
        </form>
        </section>
    </main>
    <footer>
        <%- include("partials/footer")  %> 
    </footer>
    <script src="/js/usersRegisterValidation.js" type="text/javascript"></script>
</body>
</html>