<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%- include("partials/head")  %> 
    <title>Alcer</title>
</head>
<body>
    <header>
        <%- include("partials/topBar")  %> 
    </header>
    <main>
        <section>
            <h2>Resultados para "<%= searched %>":</h2>
            <div class="products">
            
            <% if(products.length) { products.forEach(producto => { %>                 
                <a href="/products/<%= producto.id %> " style=text-decoration:none>
                    <article class="product-card">
                    <img src="/images/productDetail/<%= producto.product_photo  %>" alt="Producto 1">
                    <div class="product-text">
                        <h3 class="product-name"><%= producto.name %></h3>
                        <p class="product-description"><%= producto.description  %> </p>
                        <p class="product-price">$<%= producto.price  %> </p>
                    </div>
                    </article>
                </a>
            <% })}else{ %>
                <article>
                    <h3>Sin resultados</h3>
                </article>
            <% } %> 
            </div>
        </section>
    </main>
    <%- include("partials/footer")  %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>