<!DOCTYPE html>
<html lang="en">

<head>
    <% include ('partials/head') %> 
    <link rel="stylesheet" href="/css/theme-users.css" />
    <title>Lista de usuarios</title>
</head>
<body>
    <main class="bg-lightgrey p-8 w-90 m-center mt-15 mb-15">
        <h1>Listado de usuarios</h1>
        <a class="botonAgregar" href="/movies/add">Agregar un usuario</a>
        <a class="botonVolver" href="/">inicio</a>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha nac.</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i=0; i < users.length; i++ ) { %>
                    <tr>
                        <td><%= users[i].name %> </td>
                        <td><%= users[i].last_name %> </td>
                        <td><%= users[i].email %> </td>
                        <td><%= users[i].birth_date %> </td>
                        <td><img class="profil-photo" src="/images/profile/<%= users[i].profil_photo %> " alt="Foto"></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>
</body>

</html>